{% extends 'BackendBundle::layout.html.twig' %}

{% block subtitulo %}Semillera{% endblock %}

{% block seccion %}Semillera{% endblock %}

{% block navprin %}
    <li><a href="{{ path('backend_home') }}"> Inicio</a></li>
    <li><a href="{{ path('backend_user_home') }}">Usuario</a></li>
    <li><a href="{{ path('backend_cultivo_home') }}">Semilla</a></li>
    <li><a href="{{ path('backend_localizacion_home') }}">Localizacion</a></li>
    <li  class="active"><a href="{{ path('backend_semillera_home') }}">Semillera</a></li>
{% endblock %}

{% block conprin %}
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <form class="form-horizontal" action="{{ path('backend_semillera_crear') }}" method="POST">
                {{ form_errors(form) }}
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nombre</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.nombre) }}
                        {{ form_widget(form.nombre) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Responsable</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.responsable) }}
                        {{ form_widget(form.responsable) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">CI/NIT</label>
                    <div class="col-sm-4">
                        {{ form_errors(form.ciNit) }}
                        {{ form_widget(form.ciNit) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Telefono</label>
                    <div class="col-sm-4">
                        {{ form_errors(form.telefono) }}
                        {{ form_widget(form.telefono) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Direccion</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.direccion) }}
                        {{ form_widget(form.direccion) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tipo</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.tipo) }}
                        {{ form_widget(form.tipo) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tecnico Responsable</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.tecnicoResponsable) }}
                        {{ form_widget(form.tecnicoResponsable) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Departamento</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.departamento) }}
                        {{ form_widget(form.departamento) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Provincia</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.provincia) }}
                        {{ form_widget(form.provincia) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Municipio</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.municipio) }}
                        {{ form_widget(form.municipio) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Comunidad</label>
                    <div class="col-sm-8">
                        {{ form_errors(form.comunidad) }}
                        {{ form_widget(form.comunidad) }}
                    </div>
                </div>
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Comunidad</th>
                <th>Acciones</th>
                </thead>
                <tbody id="contcat">
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.tipo }}</td>
                        <td>{{ entity.comunidad }}</td>
                        <td><a href="{{ path('backend_semillera_editar', {'id': entity.id}) }}">Editar</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(function(){
            $("#semillera_departamento").change(function(){
                var data = {
                    departamento_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("backend_localizacion_provincias") }}',
                    data: data,
                    success: function(data) {
                        $('#semillera_provincia').html(data);
                        $('#semillera_municipio').html("<option>Municipio</option>");
                        $('#semillera_comunidad').html("<option>Comunidad</option>");
                    }
                });
                $.ajax({
                    type:   'post',
                    url:    '{{ path("backend_localizacion_filtrodep") }}',
                    data: data,
                    success: function(data){
                        $('#contloc').html(data);
                    }
                });
            });

            $("#semillera_provincia").change(function(){
                var data = {
                    provincia_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("backend_localizacion_municipios") }}',
                    data: data,
                    success: function(data) {
                        $('#semillera_municipio').html(data);
                        $('#semillera_comunidad').html("<option>Comunidad</option>");
                    }
                });
                $.ajax({
                    type:   'post',
                    url:    '{{ path("backend_localizacion_filtropro") }}',
                    data: data,
                    success: function(data){
                        $('#contloc').html(data);
                    }
                });
            });

            $("#semillera_municipio").change(function(){
                var data = {
                    municipio_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("backend_localizacion_comunidades") }}',
                    data: data,
                    success: function(data) {
                        $('#semillera_comunidad').html(data);
                    }
                });

                $.ajax({
                    type:   'post',
                    url:    '{{ path("backend_localizacion_filtrocom") }}',
                    data: data,
                    success: function(data){
                        $('#contloc').html(data);
                    }
                });
            });

        });
    </script>
{% endblock %}

